input {
  width: 100px;
  position: relative;
  top: 10px;
  left: 300px;
}
h1,
h2 {
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
}
.Sun {
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.fun {
  font-size: 25px;
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
}
.row {
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  position: relative;
  top: 30px;
  font-weight: 300;
}
body {
  border: 1px solid black;
  padding: 30px 5px 30px 10px;
  margin: 0px;
  max-width: 700px;
  border-radius: 2px;
  position: relative;
  top: 50px;
  left: 300px;
}
